@model IEnumerable<humber_http_5226_collaborative_project.Models.CourierLicenseDto>

@{
    ViewBag.Title = "List";
}


<h2>Browse Courier Licenses</h2>

<a href="/CourierLicenses/New">Add New License</a>

@foreach (var CourierLicenses in Model)
{
    <div>
        <h3>@CourierLicenses.CourierLicenseId</h3>
    </div>
}


