@model humber_http_5226_collaborative_project.Models.ItemDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Item</h2>
<form action="/Item/Update/@Model.ItemId" method="POST">
    <div>
        @* Pass through the Item ID *@
        <input type="text" name="ItemId" value="@Model.ItemId" />
    </div>
    <div>
        <label>Name:</label> 
        <input type="text" id="ItemName" name="ItemName" value="@Model.Name" />
    </div>
    <div>
        <label>Description:</label> 
        <input type="text" id="ItemDescription" name="ItemDescription" value="@Model.Description" />
    </div>
    <div>
        <label>Price:</label> 
        <input type="text" id="ItemPrice" name="ItemPrice" value="@Model.Price" />
    </div>
    <div>
        <input type="submit" value="Update Item" />
    </div>
</form>

