
@{
    ViewBag.Title = "New";
}

<h2>Create Item</h2>
<form action="/Item/Create" method="POST">
    <div>
        <label>Item:</label> <input type="text" name="ItemName" />
        <input type="submit" value="Create Item" />

    </div>
</form>

