@model IEnumerable<humber_http_5226_collaborative_project.Models.OrderDto>

@{
    ViewBag.Title = "List";
}

<h2>Browse Orders</h2>

<!--Button to create a new order-->
<a href="/Order/New">New Order</a>

<!--List of orders-->
@foreach (var order in Model)
{
    <div>
        <h3><a href="/Order/Details/@order.OrderId">@order.OrderId</a></h3>
        <p>@order.CreatedAt</p>
    </div>
}

