
@{
    ViewBag.Title = "New";
}

<h2>Create Order</h2>
<form action="/Order/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="OrderName" />
    </div>
    <div>
        <input type="submit" value="Create Order" />

    </div>
</form>

