@model IEnumerable<humber_http_5226_collaborative_project.Models.CafeDto>

@{
    ViewBag.Title = "List of Cafes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Cafe", "New", "Cafe", new { }, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cafe in Model)
        {
            <tr>
                <td>@Html.ActionLink(cafe.Name, "Details", new { id = cafe.CafeId })</td>
                <td>@Html.DisplayFor(modelItem => cafe.Address)</td>
            </tr>
        }
    </tbody>
</table>